---
permalink: /agenda
title: Workshop Agenda
description: >-
  Daily agenda for
  the W3C/OGC Joint Workshop on Maps for the Web, 15−17 June, 2020 in Montreal.
layout: default
schedule:
# Each agenda item should contain
# time, as a string describing the range
# title, as non-interactive HTML (optional for breaks)
# type, one of plenary, keynote, discussion, lightning, breakout, workshop, break (or none, for admin and such)
# open, (optional) boolean indicating whether the details element will be open by default
# details (optional), a list of headings
#   each of which is mapped to a list of (one or more) bullet points, as HTML
#   e.g., goals, speakers, scribe
#
# EXAMPLES
#
# - time: "09:15–10:30AM"
#   title: Important topic
#   type: discussion
#   open: true
#   details:
#     - Goals for workshop:
#       - <a href="#">Test Link</a>. Description here.
#     - Talks:
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#     - Scribe:
#       - Name
# - time: "12:00–12:30PM"
#   title: Lunch
#   type: break
---


<div class="info">
  <p>
  Due to risks associated with global travel and the spread COVID-19,
  the Maps for the Web workshop in 2020 will be online only,
  using a distributed, asynchronous model to encourage in-depth participation
  regardless of time zones.
  </p>
  <p>
  This is a new format for a W3C or OGC Workshop,
  and we're still finalizing the details of what it will look like.
  Suggestions from registered participants are welcome.
  </p>
</div>
<!--
<p>
  See the <a href="#tips">instructions for participants</a>, below,
  to help prepare for an effective workshop.
</p>
-->

<article>
<h2 id="schedule">Schedule</h2>
{% for day in page.schedule %}
  <h3 id="day-{{ forloop.index }}">{{ day.title }}</h3>
  <ol class="schedule">
    {% for item in day.agenda %}
      <li class="{% unless item.details %}no-details{% endunless %}{% if item.type == 'break' %} break{% endif %}">
        <details {% if item.open %}open{% endif %}>
          <summary>
            <span class="desc">
              <span class="time">{{ item.time | replace: 'AM', ' <span>AM</span>' | replace: 'PM', ' <span>PM</span>' }}</span>
              <span class="title">{{ item.title }}</span>
              <span class="type type-{{ item.type }}">{{ item.type }}</span>
            </span>
          </summary>
          {% if item.details %}
            <dl>
              {% for detail in item.details %}
                {% for detail_item in detail %}
                  <dt>{{ detail_item[0] }}</dt>
                  {% for description in detail_item[1] %}
                    <dd>{{ description }}</dd>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </dl>
          {% endif %}
        </details>
      </li>
    {% endfor %}
  </ol>
{% else %}
<p>
  A detailed workshop agenda will be established based on received submissions.
  The current plan is for themed video sessions (panels or presentations)
  posted daily for roughly two weeks (21 September − 2 October 2020).
  Questions and open discussion will then continue using online forums,
  which will remain open for a month afterwards.
</p>
<p>
  In parallel, we will host breakout and hack sessions,
  using a mix of video presentations, live video chat or IRC chat, and written forums.
</p>
<p>
  To suggest talk, panel, or breakout session, or a hack project,
  please see the <a href="{{ '/call-for-participation' | relative_url }}">call for participation</a>.
</p>
{% endfor %}
</article>

<!--
<article>
  <h2 id="tips">
    Instructions for participants
  </h2>
  <p>
    The workshop focuses on topics raised by participants in expressions of interest and position statements.
    Each topic will be introduced by one or more short (or lightning) talks, or an expert panel,
    and is then discussed among participants in the forums.
    The goal of each discussion at the workshop is not to resolve all technical issues of the topic,
    but to determine its relevance and priority to standardization.
  </p>
  <h3 id="session-formats">
    Session Formats
  </h3>
  <dl class="format">
    <dt class="type type-plenary" id="plenary">
      plenary
    </dt>
    <dd>
      Plenary sessions introduce and summarize generic information relevant to all participants.
    </dd>
    <dt class="type type-discussion" id="discussion">
      discussion
    </dt>
    <dt class="type type-lightning" id="lightning">
      lightning
    </dt>
    <dd>
      A typical discussion session (45-75 minutes) starts with a few talks by speakers nominated in advance.
      Talks will either be short (&lt;15 minutes) or <em>very</em> short (<a href="https://en.wikipedia.org/wiki/Lightning_talk">lightning talks</a>).
      They will be followed by a discussion among participants to exchange ideas, assess priorities, and identify possible standardization actions.
    </dd>
    <dt class="type type-breakout" id="breakout">
      breakout
    </dt>
    <dd>
      Participants break into smaller breakout groups to discuss more specific topics,
      or to hack on software solutions.
      The breakout session schedule is built collaboratively by the participants in the course of the workshop.
      Each group will provide a written summary of their breakout session.
    </dd>
  </dl>
  <h3 id="tools">
    Tools
  </h3>
  <h4 id="live-chat">
    Live Chat
  </h4>
  <p>
    We will take notes on IRC during the workshop,
    using the W3C's IRC server.
    Channel name will be announced later.
  </p>
  <ul>
    <li><a href="https://www.w3.org/wiki/IRC">Tips on IRC at W3C</a></li>
    <li><a href="http://irc.w3.org/">Join using the IRC Web client</a></li>
    <li><a href="irc://irc.w3.org:6665">Link for your favourite IRC client</a></li>
  </ul>
  <h4 id="minutes">
    Meeting minutes
  </h4>
  <p>
    Meeting minutes from the IRC transcripts
    <a href="{{ '/report' | relative_url }}">will be published after the event</a>.
  </p>
  <p>
    A scribe will be nominated for each session.
    However, note-taking help from all the participants is very much welcome
    to ensure correctness and completeness of the notes
    We wish to make note-taking a collaborative exercise at this workshop.
  </p>
  <h3 id="suggested-reading">Suggested Reading</h3>
  <p>
    If you can, please review the
    <a href="{{ '/supporting-material' | relative_url }}">participant position statements and other supporting material</a>
    before the meeting.
  </p>
</article>
-->