---
permalink: /agenda
layout: default
schedule:
- title: "Day 1: Presentation Day 1"
  agenda:
# Each agenda item should contain
# time, as a string describing the range
# title, as non-interactive HTML (optional for breaks)
# type, one of plenary, keynote, discussion, lightning, breakout, workshop, break (or none, for admin and such)
# open, (optional) boolean indicating whether the details element will be open by default
# details (optional), a list of headings
#   each of which is mapped to a list of (one or more) bullet points, as HTML
#   e.g., goals, speakers, scribe
#
# EXAMPLES
#
# - time: "09:15–10:30AM"
#   title: Important topic
#   type: discussion
#   open: true
#   details:
#     - Goals for workshop:
#       - <a href="#">Test Link</a>. Description here.
#     - Talks:
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#     - Scribe:
#       - Name
# - time: "12:00–12:30PM"
#   title: Lunch
#   type: break

  - time: "08:15–09:00AM"
    title: Registration
  - time: "09:00–09:15AM"
    title: Opening Remarks
    type: plenary
  - time: "09:15–10:30AM"
    title: Talks on a theme
    type: discussion
    open: true 
    details:
      - Structure:
        - 1 to 3 talks (max 15-minute each) or a panel on a topic of interest
        - Questions and open discussion
        - Resolutions on key points for the minutes/report
  - time: "10:30-10:45AM"
    type: break
  - time: "10:45-12:00PM"
    title: Talks on a theme
    type: discussion
  - time: "12:00–13:00PM"
    title: Lunch
    type: break
  - time: "13:00–13:30PM"
    title: Quick talks
    type: lightning
    open: true 
    details:
      - Structure:
        - 4 to 6 lightning talks (max 5-minute each) introducing various topics
        - Questions and discussion to follow in breakout sessions
  - time: "13:30–15:00PM"
    title: Breakout sessions
    type: breakout
    open: true 
    details:
      - Structure:
        - Open one-hour session for discussions in smaller groups on specific topics proposed by workshop participants.
        - Resolutions on key points to present back to the main group.
  - time: "15:00-15:15PM"
    type: break
  - time: "15:15-15:45PM"
    title: Recap breakout session conclusions
    type: discussion
  - time: "15:45-17:00PM"
    title: Talks on a theme
    type: discussion
#
- title: "Day 2: Presentation Day 2"
  agenda:
  - time: "08:15–09:00AM"
    title: Registration
  - time: "09:00–12:00PM"
    title: Talks, panels, and breakout sessions
    type: discussion
  - time: "12:00–13:00PM"
    title: Lunch
    type: break
  - time: "13:00–16:00PM"
    title: Talks, panels, and breakout sessions
    type: discussion
  - time: "16:00–17:00PM"
    title: Closing remarks
    type: plenary
#
- title: "Day 3: Hack Day"
  agenda:
  - time: "08:15–09:00AM"
    title: Registration
  - time: "09:00–17:00PM"
    title: Workshop hack sessions
    type: workshop
    open: true
    details:
      - Structure:
        - Breakout sessions on specific proposals and options
        - Collaborative software development or demonstrations
---
<h1>Workshop Agenda</h1>
<p>A detailed workshop agenda will be established based on received submissions.
  The following schedule provides a rough outline.
  To suggest talk, panel, or breakout session topics,
  please see the <a href="call-for-participation">call for participation</a>.
</p>
<p>
  See the <a href="#tips">instructions for participants</a>, below,
  to help prepare for an effective workshop.
</p>

<article>
<h2 id="schedule">Schedule</h2>
{% for day in page.schedule %}
  <h3>{{ day.title }}</h3>
  <ol class="schedule">
    {% for item in day.agenda %}
      <li class="{% unless item.details %}no-details{% endunless %}{% if item.type == 'break' %} break{% endif %}">
        <details {% if item.open %}open{% endif %}>
          <summary>
            <span class="desc">
              <span class="time">{{ item.time | replace: 'AM', ' <span>AM</span>' | replace: 'PM', ' <span>PM</span>' }}</span>
              <span class="title">{{ item.title }}</span>
              <span class="type type-{{ item.type }}">{{ item.type }}</span>
            </span>
          </summary>
          {% if item.details %}
            <dl>
              {% for detail in item.details %}
                {% for detail_item in detail %}
                  <dt>{{ detail_item[0] }}</dt>
                  {% for description in detail_item[1] %}
                    <dd>{{ description }}</dd>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </dl>
          {% endif %}
        </details>
      </li>
    {% endfor %}
  </ol>
{% endfor %}
</article>

<article>
  <h2 id="tips">
    Instructions for participants
  </h2>
  <p>
    The workshop focuses on topics raised by participants in expressions of interest and position statements.
    Each topic gets introduced by one or more short or lightning talk(s),
    and discussed among participants, possibly in smaller groups.
    The goal of each discussion at the workshop is not to resolve the technical issues of the topic,
    but to determine its relevance and priority to standardization.
  </p>
  <h3 id="session-formats">
    Session Formats
  </h3>
  <dl class="format">
    <dt class="type type-plenary" id="plenary">
      plenary
    </dt>
    <dd>
      Plenary sessions introduce and summarize generic information relevant to all participants.
    </dd>
    <dt class="type type-discussion" id="discussion">
      discussion
    </dt>
    <dt class="type type-lightning" id="lightning">
      lightning
    </dt>
    <dd>
      A typical discussion session (45-75 minutes) starts with a few talks by speakers nominated in advance.
      Talks will either be short (&lt;15 minutes) or <em>very</em> short (<a href="https://en.wikipedia.org/wiki/Lightning_talk">lightning talks</a>).
      They will be followed by a discussion among participants to exchange ideas, assess priorities, and identify possible standardization actions.
    </dd>
    <dt class="type type-breakout" id="breakout">
      breakout
    </dt>
    <dd>
      Participants break into smaller breakout groups to discuss more specific topics,
      or to hack on software solutions.
      The breakout session schedule is built collaboratively by the participants in the course of the workshop.
      Each group will provide a written summary of their breakout session.
    </dd>
  </dl>
  <h3 id="tools">
    Tools
  </h3>
  <h4>
    Live Chat
  </h4>
  <p>
    We will take notes on IRC during the workshop,
    using the W3C's IRC server.
    Channel name will be announced later.
  </p>
  <ul>
    <li><a href="https://www.w3.org/wiki/IRC">Tips on IRC at W3C</a></li>
    <li><a href="http://irc.w3.org/">Join using the IRC web client</a></li>
    <li><a href="irc://irc.w3.org:6665">Link for your favourite IRC client</a></li>
  </ul>
  <h4>
    Meeting minutes
  </h4>
  <p>
    Meeting minutes from the IRC transcripts
    <a href="report">will be published after the event</a>.
  </p>
  <p>
    A scribe will be nominated for each session.
    However, note-taking help from all the participants is very much welcome
    to ensure correctness and completeness of the notes
    We wish to make note-taking a collaborative exercise at this workshop.
  </p>
  <h3 id="suggested-reading">Suggested Reading</h3>
  <p>
    If you can, please review the
    <a href="supporting-material">participant position statements and other supporting material</a>
    before the meeting.
  </p>
</article>
