---
permalink: /agenda
title: Workshop Agenda
description: >-
  Daily agenda for
  the W3C/OGC Joint Workshop Series on Maps for the Web, September & October 2020.
layout: default
schedule:
# Each agenda item should contain
# time, as a string describing the range
# title, as non-interactive HTML (optional for breaks)
# type, one of plenary, breakout, or hack
# open, (optional) boolean indicating whether the details element will be open by default
# details (optional), a list of headings
#   each of which is mapped to a list of (one or more) bullet points, as HTML
#   e.g., goals, speakers, scribe
#
# EXAMPLES
#
# - time: "09:15–10:30AM"
#   title: Important topic
#   type: discussion
#   open: true
#   details:
#     - Goals for workshop:
#       - <a href="#">Test Link</a>. Description here.
#     - Talks:
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#       - <a href="#">Talk Title</a>
#         <span>Name</span>
#     - Scribe:
#       - Name
# - time: "12:00–12:30PM"
#   title: Lunch
#   type: break
---
{% include relBase.html %}

<p>
  The workshop series will consist of schedules sessions
  and asynchronous discussion.
  All the main workshop presentations will be posted online
  so that participants can watch at their own schedule.
  In parallel, there will be a schedule of
  breakout and hack sessions organized by workshop participants.
  Discussion will continue online through the month of October,
  in the hopes of gaining wide input towards a consensus on key issues.
</p>

<div class="info">
  <p>
  Due to risks associated with global travel and the spread COVID-19,
  the Maps for the Web workshop series in 2020 will be online only,
  using a distributed, asynchronous model to encourage in-depth participation
  regardless of time zones.
  </p>
  <p>
  This is a new format for a W3C or OGC Workshop,
  and we're still finalizing the details of what it will look like.
  Suggestions from registered participants are welcome.
  </p>
</div>
<!--
<p>
  See the <a href="#tips">instructions for participants</a>, below,
  to help prepare for an effective workshop.
</p>
-->

<article>
<h2 id="schedule">Schedule</h2>
{% for day in page.schedule %}
  <h3 id="day-{{ forloop.index }}">{{ day.title }}</h3>
  <ol class="schedule">
    {% for item in day.agenda %}
      <li class="{% unless item.details %}no-details{% endunless %}{% if item.type == 'break' %} break{% endif %}">
        <details {% if item.open %}open{% endif %}>
          <summary>
            <span class="desc">
              <span class="time">{{ item.time | replace: 'AM', ' <span>AM</span>' | replace: 'PM', ' <span>PM</span>' }}</span>
              <span class="title">{{ item.title }}</span>
              <span class="type type-{{ item.type }}">{{ item.type }}</span>
            </span>
          </summary>
          {% if item.details %}
            <dl>
              {% for detail in item.details %}
                {% for detail_item in detail %}
                  <dt>{{ detail_item[0] }}</dt>
                  {% for description in detail_item[1] %}
                    <dd>{{ description }}</dd>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </dl>
          {% endif %}
        </details>
      </li>
    {% endfor %}
  </ol>
{% else %}
<p>
  A detailed workshop series agenda will be established based on received submissions.
  The current plan is as follows:
</p>
<ul>
<li>
  The main series of workshop presentations will be spread out,
  approximately one per day, for two weeks (21 September − 2 October 2020).
  The recorded sessions will be posted online for asynchronous viewing.
  Questions and open discussion will continue using online forums,
  which will remain open until the end of October.
</li>
<li>
  Breakout and hack sessions will be scheduled during the same period.
  These may include a mix of video presentations,
  live video chat or IRC chat,
  and written forums.
</li>
<li>
  In late October, moderators will post final calls for consensus,
  summarizing the conclusions of each discussion.
  These summaries will then be integrated into a workshop report.
</li>
</ul>
<p>
  To suggest a talk, panel, breakout session, or hack project,
  please see the <a href="{{ relBase }}/call-for-participation">call for participation</a>.
</p>
{% endfor %}
</article>

<h2 id="tips">
  Instructions for participants
</h2>
<p>
  The workshop series focuses on topics raised by participants in expressions of interest and position statements.
  Each topic will be introduced by one or more short (or lightning) talks, or an expert panel,
  and is then discussed among participants in the forums.
  The goal of each workshop discussion is not to resolve all technical issues of the topic,
  but to determine its relevance and priority to standardization.
</p>
<h3 id="session-formats">
  Session Formats
</h3>
<dl class="format">
  <dt class="type type-plenary" id="plenary">
    plenary
  </dt>
  <dd>
    <p>
      Plenary sessions introduce topics for discussion
      which are expected to be relevant to all participants.
      Speakers are selected in advance by the program committee;
      an assigned moderator will introduce the speakers and coordinate the discussion.
    </p>
    <p>
      A typical plenary session would be 30-60 minutes
      and include short talks (&lt;15 minutes),
      <a href="https://en.wikipedia.org/wiki/Lightning_talk">lightning talks</a>,
      and/or panel Q&A discussion.
    </p>
    <p>
      The structured video sessions are only the start:
      the topics they introduce will be the start of open discussion online,
      where all workshop participants are encouraged
      to exchange ideas, assess priorities,
      and identify possible standardization actions.
      The moderator will be tasked with keeping the discussion on topic,
      and identifying areas of consensus for the final workshop report.
    </p>
  </dd>
  <dt class="type type-breakout" id="breakout">
    breakout
  </dt>
  <dt class="type type-hack" id="hack">
    hack
  </dt>
  <dd>
    <p>
      These sessions will support more collaborative discussion
      by smaller groups.
      Breakout sessions will cover more specific technical topics
      that didn't fit into the main workshop schedule.
      Hack sessions will welcome new collaborators to a software or data project,
      as discussed in the <a href="{{ relBase }}/call-for-participation#hack-day-proposals">call for participation</a>.
    </p>
    <p>
      The specific format will depend on the topic and goals of the session,
      but could include a mix of video presentations, live chat, and written discussion.
      Regardless of format,
      each group is expected to provide a written summary of their session.
    </p>
  </dd>
</dl>
<h3 id="tools">
  Tools
</h3>
<div class="info">
  <p>
    We're still collecting information on the different options
    for remote collaboration tools.
    Your feedback is welcome!
    We especially want to ensure that the chosen tools are accessible to all.
  </p>
  <p>
    Add suggestions to our discussion issues
    for <a href="https://github.com/Maps4HTML/Maps4HTML-Workshop-2020/issues/39">video conferencing and video hosting</a>,
    or <a href="https://github.com/Maps4HTML/Maps4HTML-Workshop-2020/issues/40">text-based forums</a>.
  </p>
</div>
<h4 id="minutes">
  Maintaining records
</h4>
<p>
  All session organizers are expected to create records
  of what was discussed,
  what conclusions or consensus was reached,
  and any major areas of discussion or concern.
</p>
<p>
  Breakout session organizers will be able to use the W3C's
  IRC server and meeting-management bots.
  See <a href="https://www.w3.org/wiki/IRC">tips on IRC at W3C</a>.
</p>

<h3 id="suggested-reading">Suggested Reading</h3>
<p>
  If you can, please review the
  <a href="{{ relBase }}/supporting-material">participant position statements and other background material</a>
  before the workshops.
</p>
