<footer id="footer">
  <p>
    All activities related to these workshops are covered by the
    <a href="https://www.w3.org/Consortium/cepc/">W3C code of ethics and professional conduct</a>.
    If you have a concern, contact
    <a href="{{ relBase }}/call-for-participation#program-committee">a member of the program committee</a>
    or one of <a href="https://www.w3.org/Consortium/pwe/#ombuds">the W3C ombuds</a>.
  </p>
  <hr/>
  <p>
    See a problem on this website?
    File an issue in <a href="https://github.com/Maps4HTML/Maps4HTML-Workshop-2020">the repo</a>
    or <a href="{{ relBase }}/call-for-participation#program-committee">contact the program committee</a>.
  </p>
</footer>
