<header class="header">
  <p class="warning">
      You're viewing an unofficial, work-in-progress website!
      File issues in <a href="https://github.com/Maps4HTML/Maps4HTML-Workshop-2020">the repo</a> or <a href="mailto:public-maps-workshop-pc@w3.org">email the program committee</a>.
  </p>
  <p>
    <a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/Icons/w3c_home" height="48" width="72"></a>
  </p>
  <img src="assets/media/background-sm.png" alt="Map of Montreal" />
  <h1 id="top">W3C Workshop on Maps for the Web</h1>
  <p>Monday June 15th to Wednesday June 17th 2020, Montreal, Canada</p>
  (<a href="call-for-participation">venue</a>)</p>
  <nav class="menu" id="menu">
    <ul>
      {% for link in site.data.nav %}
        <li>
          <a href="{{ link.link | relative_url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
