<aside class="box box-host" id="host">
  <h2>Host</h2>
  <p class="image-paragraph-host">
    W3C and OGC gratefully acknowledge
    Natural Resources Canada for hosting this workshop.
  </p>
  <p class="image-paragraph">
    <a
      href="https://www.nrcan.gc.ca/earth-sciences/geomatics/canadas-spatial-data-infrastructure/10783"
      class="image-link"
    ><img src="{{ '/assets/media/nrcan_wordmark_st_e.png' | relative_url }}" alt="Natural Resources Canada"
    /></a>
  </p>
</aside>
