{% comment %}

Generates a relative path fragment from the current page.url
back to the root of the repo.

Usage:
Include this template in the default layout
AND in any content page you want to use this in, as
{% include relBase.html %}
Then, write the URL you want to relativize as
href="{{ relBase }}/abs/path/in/repo"
(note the / at the start of the absolute path)

{% endcomment %}
{% assign relBase = '' %}
{% assign tempDepth = page.url | append: 'hackish-solution' | split: '/' | size | minus: 2 %}
{% for i in (1..tempDepth) %}
  {% if forloop.last %}
    {% assign relBase = relBase | append: ".." %}
  {% else %}
    {% assign relBase = relBase | append: "../" %}
  {% endif %}
{% endfor %}
{% if relBase == '' %}
    {% assign relBase = '.' %}
{% endif %}