<aside class="box box-sponsor {% if site.data.sponsors == false %}box-emphasis{% endif %}" id="sponsor">
  {% if site.data.sponsors %}
    <h2>Sponsors</h2>
    <p>
      Platinum, Gold and Silver Sponsorships available
    </p>
    {% for tier in site.data.sponsors %}
      <section class="sponsors-section sponsors-section-{{ tier.tier | downcase }}">
        <h3 id="{{ tier.tier | downcase }}-sidebar">{{ tier.tier }} {% unless tier.tier == 'Supporters' %}Sponsors{% endunless %}</h3>
        {% for sponsor in tier.sponsors %}
          <p>
            <a href="{{ sponsor.link }}" class="image-link"><img src="{{ sponsor.image | relative_url }}" alt="{{ sponsor.name }}"/></a>
          </p>
        {% endfor %}
      </section>
    {% endfor %}
    <p>
      <a href="{{ '/sponsorship' | relative_url }}">Sponsorship package info.</a>
    </p>
  {% else %}
    <p class="seeking-sponsors">
      Currently <a href="{{ '/sponsorship' | relative_url }}">Seeking Sponsorships</a>
    </p>
  {% endif %}
</aside>
