<aside class="box" id="sponsor">
  <h2 class="footnote">Sponsors</h2>
  <p>
    Platinum, Gold and Silver Sponsorships available
  </p>
  <section class="sponsors-section sponsors-section-platinum">
    <h3 id="platinum-sidebar">Platinum Sponsors</h3>
    <p>
      <a href="" class="image-link"><img src="" alt=""/></a>
    </p>
  </section>
  <section class="sponsors-section sponsors-section-gold">
    <h3 id="gold-sidebar">Gold Sponsors</h3>
    <p>
      <a href="" class="image-link"><img src="" alt=""/></a>
    </p>
  </section>
  <section class="sponsors-section sponsors-section-silver">
    <h3 id="silver-sidebar">Silver Sponsors</h3>
    <p>
      <a href="" class="image-link"><img src="" alt=""/></a>
    </p>

    <h3 id="supporters-sidebar">Supporters</h3>
    <p class="image-paragraph">
      <a href="" class="image-link"><img src="" alt=""/></a>
    </p>
  </section>
  <p>
    <a href="sponsorship">Sponsorship package info.</a>
  </p>
</aside>
