* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  background: #005a9c;
  padding: 1rem 3rem;
}
body {
  background: #fff;
  display: grid;
  grid-template:
    "header header   " min-content
    "main   sidebar-0" min-content
    "main   sidebar-1" min-content
    "main   sidebar-2" 1fr
    "footer footer   " min-content
    / 1fr   min-content;
  align-items: baseline;

  border-radius: .6em;
  color: #333;
  font: 100%/1.3 Helvetica, Arial, Verdana, sans-serif;
  hyphens: none;
  margin: 0 auto;
  max-width: 66rem;
  padding: 3em;
}
body > header {
  grid-area: header;
}
body > main {
  grid-area: main;
  max-width: 42rem;
  scroll-margin-top: 5rem;
  scroll-behavior: smooth;
}
body > footer {
  grid-area: footer;
}
@media (min-width: 54.01em) {
  .box-register {
    grid-area: sidebar-0;
  }
}
.box-host {
  grid-area: sidebar-1;
}
.box-sponsor {
  grid-area: sidebar-2;
}

body::after {
  content: "";
  display: table;
  clear: both;
}

.header-logos-etc {
  display: flex;
  align-items: center;
}
.header-logo {
  flex-shrink: 0;
}
.header-tagline {
  display: block;
  margin: 0 1rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  order: 10; /* move visually after the icons */
}
.header-figure {
  position: relative;
  margin: 0.5rem 0;
  overflow: hidden;
}
.header-figure picture {
  display: block;
  display: contents;
}
.header-map {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 16rem);
  object-fit: cover;
  object-position: bottom right;
}
.header-wordmark {
  position: absolute;
  top: 0;
  left: 1.5rem;
  max-height: 100%;
  max-width: calc(100% - 3rem);
}
@media (max-height: 30rem) {
  body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* size figure to the wordmark, not the map */
  .header-map {
    position: absolute;
    top: 0;
    left: 0;
    max-height: none;
  }
  .header-wordmark {
    position: relative;
  }
  .header-logos-etc {
    display: block;
    display: contents;
  }
  /* float logos to the side */
  .header-logo {
    float: right;
    clear: right;
    text-align: right;
  }
  .header-logo img.inline {
    display: block;
    margin: auto;
  }
  .header-figure {
    margin-top: 0;
  }
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0.5rem;
  z-index: 100;
  color: #005a9c;
  opacity: 0;
  pointer-events: none;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
dl,
ul,
ol {
  margin: 1rem 0;
}
main    > :first-child,
section > :first-child,
aside   > :first-child,
header  > :first-child,
footer  > :first-child {
  margin-top: 0;
}

a,
h1,
h2,
.menu a.active-tab {
  color: #005a9c;
}

a:hover {
  color: #111;
}

a.ref,
.has-ref {
  cursor: pointer;
}

a.ref {
  color: inherit;
  display: none;
  font-size: 1em;
  left: 0;
  opacity: .25;
  position: absolute;
  text-decoration: none;
}

.has-ref:hover > a.ref {
  display: block;
}

.has-ref:target > a.ref {
  display: block;
  opacity: .5;
}

.has-ref {
  margin-left: -1em;
  padding-left: 1em;
  position: relative;
}

.graphic {
  height: 13em;
  margin: 0 -1em;
  overflow: hidden;
  position: relative;
}

.graphic img {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.box,
.type {
  box-shadow: .3em .3em 0 rgba(0,0,0,.1);
  border: 1px solid #ccc;
}

.box {
  color: #666;
  font-size: 0.9rem;
  margin-left: 3rem;
  padding: 1em;
  width: 19em;
}

.box-emphasis {
  background-color: #f1f7ff;
}

.box + .box {
  margin-top: 2rem;
}

.box h2 {
  font-size: 1.25rem;
}

.box *:last-child {
  margin-bottom: 0;
}

.image-paragraph-host {
  margin-bottom: .75em;
}

.image-paragraph {
  margin: 0;
}

.image-link {
  display: block;
}

.image-link img {
  max-width: 14rem;
  margin: 1rem auto;
  width: 100%;
  max-height: 5rem;
}

footer, hr {
  border: none;
  border-top: 2px solid #ddd;
  clear: both;
}
footer {
  color: #555;
  font-size: 0.9rem;
  margin: 2rem 0 0;
  padding-top: 1rem;
}

.menu {
  font-size: 0.9rem;
  margin: 0 0 1rem;
  clear: both;
}

.menu details {
  display: none; /* don't show toggle by default (see media query below) */
}

.menu,
.menu li {
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: -2px 0 0 -2px; /* manually collapse margins from children (recreate flex gap) */
  padding: 0;
}

.menu li {
  margin: 2px 0 0 2px;
  flex: 10rem;
}
.menu a {
  display: block;
}
.menu a,
.menu summary {
  background: #005a9c;
  color: #eee;
  font-size: .9rem;
  height: 100%;
  padding: .5rem .3rem;
  text-align: center;
  text-decoration: none;
  transition: .05s background ease-in-out, .05s color ease-in-out;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.menu a:hover,
.menu summary:hover {
  background: #222;
  color: #fff;
}
.menu a:focus,
.menu summary:focus {
  outline: dashed 2px;
  outline-offset: -4px;
}

.menu a:active {
  opacity: .75;
}

.menu a.active-tab {
  background: #fff;
  font-weight: bold;
  pointer-events: none;
  border-top: solid thin #005a9c;
  border-bottom: solid thin #005a9c;
}

ul {
  list-style: square;
  list-style: "✯ ";
}
ul, ol {
  margin-left: 0;
  padding-left: 1em;
}
ul ul, ol ul, dl ul {
  list-style: circle;
  list-style: "➢ ";
  margin: 0.5rem 0 1rem;
}
li {
  margin-bottom: 0.5rem;
}

blockquote {
  margin-left: 1em;
}

dd {
  margin: 0 0 0.5rem;
}

dt {
  font-weight: 700;
  margin-top: 1rem;
}
dd {
  border: solid #ddd 0.25rem;
  border-style: solid none none solid;
  padding: 0.5rem 0 0 0.5rem;
}
dd p {
  margin: 0.5rem 0 0
}
dd > :first-child {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

img.inline {
  display: inline-block;
  vertical-align: middle;
}

h1,
h2,
h3,
h4 {
  break-after: avoid;
  line-height: 1.2;
}

code {
  font: 100% ui-monospace, "Consolas", "Menlo", monospace;
}

@media all and (max-width: 40rem) {
  /* remove extra spacing at edges */
  html {
    padding: 0;
  }
  body {
    border-radius: 0;
    padding: 1rem;
  }
  .header-logos-etc {
    flex-wrap: wrap;
  }
  .header-tagline {
    margin: 0;
  }
}

@media all and (max-width: 54rem) {
  .header-tagline {
    font-weight: normal;
    font-size: 90%;
  }

  /* single-column layout */
  body {
    grid-template:
      "header"
      "main"
      "sidebar-1"
      "sidebar-2"
      "footer";
  }

  .menu details:not(.no-details-support) {
    display: block;
    margin-bottom: 2px;
  }

  .menu details:not(.no-details-support):not([open]) + ul {
    display: none;
  }

  .menu details:not([open]) .menu-hide {
    display: none;
  }

  .menu details[open] summary {
    width: max-content;
    margin-left: auto;
    padding: 0.5rem;
    list-style-type: "× ";
  }

  .menu ul {
    flex-wrap: wrap;
  }
  .menu li:first-child:nth-last-child(odd) {
    /* if there's an odd number of items,
      make the first one big instead of the last */
    flex: calc(20rem + 2px) 2;
  }

  .graphic {
    height: 10em;
    margin: 0;
  }

  .box {
    width: auto;
    margin-left: 0;
  }
}

@page {
  margin: 2cm;
}

@media print {
  html {
    background: none;
    padding: 0;
  }

  body {
    background: none;
    border-radius: 0;
    padding: 0;
  }
}

/* Initialize footnote counters. */
body {
  counter-reset: footnote_counter footnote-ref_counter;
}

h2.footnote {
  counter-increment: footnote_counter;
}

a.footnote-ref {
  counter-increment: footnote-ref_counter;
  text-decoration: none;
}

h2.footnote:before {
  content: counter(footnote_counter);
  display: block;
  float: left;
  font-size: .9em;
  margin-right: 1.25ch;
  padding: 2em 4em;
  vertical-align: top;
}

h2.footnote:after {
  clear: both;
  content: "";
  display: block;
}

a.footnote-ref:after {
  content: counter(footnote-ref_counter);
  font-size: .5em;
  margin-left: .25em;
  vertical-align: super;
}

h2.footnote:before,
a.footnote-ref:after {
  background-color: #005a9c;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  padding: .1em .5em;
}

.schedule {
  list-style: none;
}

.schedule li,
summary .desc {
  display: flex;
}

.schedule li + li {
  margin-top: .5rem;
}

summary .time {
  background-color: #005c9c;
  border-radius: 5px 0 0 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  min-width: 8em;
  vertical-align: top;
  white-space: nowrap;
}

summary .time,
.title,
.type {
  padding: 3px 6px;
}

.break summary .time {
  background-color: #666;
  color: #fff;
}

.break .title {
  color: gray;
  font-style: italic;
}

summary .time span { font-size: 67%; }

.type {
  clear: right;
  display: inline-block;
  font-size: 67%;
  font-weight: normal;
  height: 100%;
  margin: 0 13px 0 0;
  order: -1;
  min-width: 6.5em;
}

.type:empty {
  border-color: transparent;
  box-shadow: none;
}

dt.type {
  font-size: 100%;
  margin: 0;
  text-align: center;
}

.type-plenary, .type-keynote {
  background-color: #b9d3ee;
}

.type-breakout, .type-hack {
  background-color: #ffe7ba;
}

span.title {
  display: block;
  flex: 1;
  margin-left: 5px;
  order: 1;
}

.schedule summary::-webkit-details-marker {
  display: none;
}

.schedule summary::-moz-list-bullet {
  list-style-type: none;
}

.schedule summary {
  list-style-type: none;
}

.schedule li:not(.no-details) details summary .desc {
  cursor: pointer;
}

.schedule details summary .desc:before {
  color: #999;
  content: "▶";
  display: inline-block;
  height: 1.1em;
  margin-right: 0.5em;
  order: -2;
  width: 1.1em;
}

.schedule details[open] summary .desc:before {
  color: #666;
  transform: rotate(90deg);
  position: relative;
  left: -2px;
  top: 2px;
}

.schedule .no-details details .desc:before {
  content: "";
}

.schedule details {
  width: 100%;
}

.schedule summary:focus-visible {
  outline: dotted thin #005c9c;
  outline-offset: 2px;
}

.schedule details dl {
  box-shadow: .3em .3em 0 rgba(0,0,0,.1);
  border: 1px solid #ccc;
  margin: 9px 0 5px 27px;
  padding: 1rem;
  position: relative;
}

/* from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.schedule details dl::after {
  border-color: #005c9c transparent;
  border-style: solid;
  border-width: 15px 15px 0;
  content: "";
  display: block;
  left: 8em;
  position: absolute;
  top: -16px;
  width: 0;
}

.schedule details dt {
  margin: 0;
}

.schedule details dd {
  margin: 0 0 0 1rem;
}

.schedule details dd span {
  font-size: 75%;
  color: #888;
  display: block;
  margin-bottom: .25em;
}

.schedule details dd + dt {
  margin-top: 1rem;
}

.format dt {
  font-size: 1rem;
  /*font-weight: 600;*/
  margin: .5rem 0 .75rem;
  padding: .5rem 1rem;
}

.sponsors-section {
  margin-top: 1rem;
}

.sponsors-section :last-child {
  margin-bottom: 0;
}

#notification {
  background-color: #ff0;
  border: 1px solid #ccc;
  box-shadow: .2em .4em .5em #888;
  color: #666;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 1em;
  padding: .3em;
  text-align: center;
}

.concluded {
  text-decoration: line-through;
}

@media print {
  h1 {
    background: none;
    color: #111;
  }

  nav, aside {
    display: none;
  }

  body,
  article {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @page {
    margin: 2cm;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  article {
    page-break-before: always;
  }

  ul, img {
    page-break-inside: avoid;
  }

  #dates {
    display: none;
  }
}

cite { font-weight: bold;}

ol ol { margin: 1rem;}

.warning, .info {
  box-shadow: 0.5rem 0.5rem 0.1rem rgba(0,0,0,.1);
  padding: 0.5em;
  margin: 0.5em 0 0.5em -0.5em;
}
.warning {
  background-color: #fda;
}
.info {
  background-color: #dfe;
}
.warning > :first-child,
.info > :first-child {
  margin-top: 0;
}
.warning > :last-child,
.info > :last-child {
  margin-bottom: 0;
}

.warning h1 {
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.todo {
  color: #900;
  background-color:#FFC !important;
  font-style: italic;
}

#banner h1 {
  margin-bottom: 0;
}
#banner h1+p {
  margin-top: 0;
}

button {
  font-size: 75%;
  padding: 0.3em;
}

.cta {
  color: #005a9c;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
