{% include relBase.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
     {% if page.title %}{{ page.title }} — {% endif %}{{ site.title }} 
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ relBase }}/assets/css/style.css" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" name="twitter:title"
          content="{{ page.title | default: site.title }}" />
    <meta property="og:description" name="description"
          content="{{ page.description | default: site.description }}" />
    <meta name="twitter:site" content="@maps4html" />
    <meta name="twitter:image"
          content="{{ site.url }}/assets/media/twitter_banner.jpg" />
    <meta property="og:image"
          content="{{ site.url }}/assets/media/wordmark/logo_horizontal_blue_fb_1200x630.png" />
    <meta property="og:image:alt"
          content="Maps for the Web, Sept−Oct 2020, #Maps4HTML" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>

  <body>
    <a class="skip-link" href="#main">Skip to Main Content</a>
    {% include header.html %}
    <main id="main">
      <h1>{{page.title | default: site.title}}</h1>
      {{ content }}
    </main>
    {% include register-cta.html %}
    {% include host.html %}
    {% include sponsors.html %}
    {% include footer.html %}
    <script src="{{ relBase }}/assets/js/script.js"></script>
  </body>
</html>
