<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="{% if page.excerpt %}{{
        page.excerpt | strip_html | strip_newlines | truncate: 160
      }}{% else %}{{ site.description }}{% endif %}"
    />
    <title>
     {{ site.title }} {% if page.title %} - {{ page.title }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <a class="skip-link" href="#main">Skip to Main Content</a>
    {% include header.html %}
    {% include host.html %}
    {% include sponsors.html %}
    <main id="main">
      {{ content }}
    </main>
    <script src="assets/js/script.js"></script>
  </body>
</html>
